<header style="background: url(images/header.jpg); background-size: cover; background-position: center; ">
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Failure Log</h1>
            <hr>
            <h4>失敗からちゃんと学べてる？</h4>
            <br><br><br>
            <a href="failures/new" class="btn btn-primary btn-xl wow tada">失敗を記録する</a>
        </div>
    </div>
</header>