<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Failure Logについて</h2>
                <hr class="primary">
                <h3>失敗を自分の成長につなげるための記録アプリです。</h3>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i><img src="images/formats.png"></i>
                    <h3>失敗の振り返りをする</h3>
                    <p class="text-muted">失敗を冷静に振り返るための記録フォーマットを用意しています。</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i><img src="images/pencil.png"></i>
                    <h3>失敗と教訓を共有する</h3>
                    <p class="text-muted">失敗の記録を共有し、学び合うことができます。（非公開も可）</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 text-center">
                <div class="service-box">
                    <i><img src="images/email.png"></i>
                    <h3>メールでリマインド</h3>
                    <p class="text-muted">再発防止策や、失敗から得た教訓を自分自身にメールでリマインドできます</p>
                </div>
            </div>
        </div>
    </div>
</section>