<h1><%= current_user.nickname %>さんの失敗の記録</h1>

<div class="container">
  <% @failures.each do |failure| %>
    <h4><%= failure.title %></h4>
    <p><%= link_to "詳細", failure %>
    <%= link_to "削除", failure, method: :delete,
                          data: { confirm: "本当に削除してよろしいですか？" } %></p>
  <% end %>
</div>